#tit {
  font-family: Arial; 
  font-size: 10; 
  text-align: center; 
  color: black; 
  font-weight: bold;
}

#titul {
  font-family: Arial; 
  font-size: 12; 
  text-align: center; 
  color: black; 
  font-weight: bold;
  font-style: italic;
}

#describe {
  font-family: Arial; 
  font-size: 12; 
  text-align: justify; 
  color: black; 
  padding: 4; 
  font-weight: bold;
}

#alumni {
  font-family: Arial; 
  font-size: 12; 
  text-align: right; 
  color: #003300; 
  padding: 5; 
  font-style: italic;
}

#heading {
  font-family: Courier; 
  font-size: 14; 
  text-align: left; 
  color: black; 
  padding: 5; 
  font-weight: bold;
}

#text {
  font-family: Courier; 
  font-size: 14; 
  text-align: justify; 
  color: black; 
  padding: 5;
}

#author {
  font-family: Courier; 
  font-size: 12; 
  text-align: right; 
  color: black; 
  padding: 5; 
  font-weight: bold;
  font-style: italic;
}

#letters {
  font-family: Arial; 
  font-size: 10; 
  text-align: center; 
  color: black; 
  font-weight: bold;
}

#letters:hover {
  font-family: Arial; 
  font-size: 10; 
  text-align: center; 
  color: green; 
  font-weight: bold;
}
